  <script language="javascript" type="text/javascript">  
      var tableFilters = {
          col_0: "select",
          col_1: "select",
          col_3: "select",
          col_4: "none",  
          col_5: "none",  
          btn: true  
      }
//      var tf = new TF("table1",2,tableFilters);  
//      tf.AddGrid();  
//      var tf = new TF("table1", 2, tableFilters);  
//      tf.AddGrid();  
//      tf.init();
      var tf = new TableFilter('table1', tableFilters);
      tf.init();
  </script>
