<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testing Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <script src="/static/commons/js/jquery.min.js"></script>
    <script src="/static/commons/js/bootstrap.min.js"></script>
    <!-- load the d3.js library --> 
    <script src="http://d3js.org/d3.v3.min.js"></script>

  {% include 'tree_graph_style.html' %}

</head>


<body>
<!-- https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/ -->
<!-- https://stackoverflow.com/questions/10883523/d3-how-to-change-the-width-and-length-of-svg#10883877 -->

{% include 'navigator.html' %}

  <h3>Tree Graph StateMachines</h3>
<!-- <div id="container" class="svg-container"> -->
  {% include 'tree_graph_script.html' %}
<!-- </div> -->

</body>
</html>
